#
# ciabot.config -- Configuration file for ciabot
#
# Note: The IRC network name is ignored for now, but must be included.
# What you say here end up as a prefix on each row of your logs
# on #commits. You must use the name of your projects IRC channel in
# order to invite the bot there.
#
# example:
# IRCCHANNEL=irc.freenode.net/ourprojectchannel
IRCCHANNEL=irc.freenode.net/#openembedded

# The email address where we send the commit messages.
COMMITADDRESS=commits@picogui.org

# Verbose flag, if not empty, show individual file history
# VERBOSE=yes

# End
