##========================================
## Graphics parameters
##========================================
javax.microedition.lcdui.screenWidth:600
javax.microedition.lcdui.screenHeight:400
# Toolkit configuration (possible values: SDL, virtual)
# The toolkit parameter should be set to "virtual" unless you know what you do.
# (to change the UI backend, see the backend parameter of the virtual toolkit below)
javax.microedition.lcdui.toolkit:virtual

##======================================
## Parameters for the Virtual UI Toolkit
##======================================
# Possible backend values: NULL, SDL, AWT, AWTGRABBER, SWT, X11, GTK, QT, FB
org.thenesis.microbackend.ui.backend:SWT
# SDL backend configuration.
# Possible bitsPerPixels values: 8, 16, 32
# Possible video mode values: SW, HW (i.e software, hardware)
org.thenesis.microbackend.ui.sdl.bitsPerPixel:32
org.thenesis.microbackend.ui.sdl.videoMode:SW
# X11 backend configuration.
# Display value examples: :0.0, 192.168.0.1:1.0
org.thenesis.microbackend.ui.x11.Display::0.0
# Linux Framebuffer (FB) backend configuration 
# (see /proc/bus/input/devices to know which special files are  
# associated with your mouse or touchscreen)
org.thenesis.microbackend.ui.fb.framebufferDevice:/dev/fb0
org.thenesis.microbackend.ui.fb.keyboardDevice:/dev/tty
org.thenesis.microbackend.ui.fb.mouseDevice:/dev/input/event1
org.thenesis.microbackend.ui.fb.touchscreenDevice:/dev/input/event2
# Possible fontRenderer values: raw, BDF
org.thenesis.midpath.ui.fontRenderer:raw
org.thenesis.midpath.font.bdf.filename:VeraMono-12-8.bdf

##==========================
## Parameters for the sound
##==========================
# Sound configuration (possible values: SDL, virtual)
# The "player" parameter should be set to "virtual" unless you know what you do.
# The virtual engine requires this hardware configuration: 16 bits, stereo, little endian
org.thenesis.midpath.sound.engine:virtual
# Possible sound backend values: NULL, ALSA, ESD, PulseAudio
org.thenesis.midpath.sound.backend:NULL
org.thenesis.midpath.sound.device:default
org.thenesis.midpath.sound.sampleRate:44100
# Buffer size MUST be a power of two
org.thenesis.midpath.sound.bufferSize:8192

##======================================
## IO parameters
##======================================
# IO (file, socket) backends (possible values: J2SE, CLDC)
com.sun.midp.io.backend:J2SE
# The RMS root path (if not defined, records are read/written in the current directory)
com.sun.midp.rms.rootPath:/home/user/

##======================================
## Location (JSR179)
##======================================
# Location mode (possible values: GPS, KML, LMS, NMEA)
org.thenesis.midpath.location.mode:GPS
# Resource file URI (KML and NMEA mode only)
# Examples:
# -Load a KML file in the "res" package from the java classloader:
#  org.thenesis.midpath.location.resource.uri:/res/location.kml 
# -Load a NMEA file from the file system:
#  org.thenesis.midpath.location.resource.uri:file:////absolute/path/to/location.kml
org.thenesis.midpath.location.resource.uri:
# Resource poll interval in milliseconds (KML, LMS, NMEA mode only)
org.thenesis.midpath.location.resource.pollInterval:5000

##======================================
## Messaging (JSR120, JSR205)
##======================================
# SMS backend (possible values: NULL)
org.thenesis.midpath.messaging.backend:NULL

##======================================
## MIDlet Suite Manager (J2SE only)
##======================================
# The MIDlet repository path (if not defined, MIDlets are searched in the current directory)
org.thenesis.midpath.main.repositoryPath:/usr/share/midpath/repository

##======================================
## Event parameters
##======================================
javax.microedition.lcdui.pointerSupported:true
javax.microedition.lcdui.pointerMotionSupported:true

##======================================
## Key mapping 
## (AWT codes are used by convention - see java.awt.event.KeyEvent javadocs)
##======================================
# Cursor left
org.thenesis.midpath.ui.keys.LEFT:37
# Cursor up
org.thenesis.midpath.ui.keys.UP:38
# Cursor right
org.thenesis.midpath.ui.keys.RIGHT:39
# Cursor down
org.thenesis.midpath.ui.keys.DOWN:40

# Zoom -
org.thenesis.midpath.ui.keys.GAME_A:119
# Minimize/Maximize
org.thenesis.midpath.ui.keys.GAME_B:117
# Zoom +
org.thenesis.midpath.ui.keys.GAME_C:118
# Cursor button
org.thenesis.midpath.ui.keys.FIRE:10

# Back button
org.thenesis.midpath.ui.keys.SOFT_BUTTON1:27
# Menu button
org.thenesis.midpath.ui.keys.SOFT_BUTTON2:115

# unmapped
org.thenesis.midpath.ui.keys.STAR:0  
org.thenesis.midpath.ui.keys.POUND:0
org.thenesis.midpath.ui.keys.DELETE:8
org.thenesis.midpath.ui.keys.END:39
org.thenesis.midpath.ui.keys.POWER:0
org.thenesis.midpath.ui.keys.GAME_D:0
