##========================================
## General graphics parameters
##========================================
org.thenesis.microbackend.ui.screenWidth:210
org.thenesis.microbackend.ui.screenHeight:210
# Toolkit configuration (possible values: SDL, Pure)
# The toolkit parameter should be set to "Pure" unless you know what you do.
# (to change the UI backend, see the backend parameter below)
org.thenesis.microbackend.ui.toolkit:virtual
# Flag to enable/disable skin images (disabling images could improve performance)
# (Possible values: yes, no)
com.sun.midp.chameleon.skins.imageEnabled:yes

##======================================
## MicroBackend parameters
##======================================
# Possible backend values: NULL, SDL, AWT, AWTGRABBER, SWT, X11, GTK, QT, FB
org.thenesis.microbackend.ui.backend:AWT
# SDL backend configuration.
# Possible bitsPerPixels values: 8, 16, 32
# Possible video mode values: SW, HW (i.e software, hardware)
org.thenesis.microbackend.ui.sdl.bitsPerPixel:32
org.thenesis.microbackend.ui.sdl.videoMode:SW
# X11 backend configuration.
# Display value examples: :0.0, 192.168.0.1:1.0
org.thenesis.microbackend.ui.x11.Display::0.0
# Linux Framebuffer (FB) backend configuration 
# (see /proc/bus/input/devices to know which special files are  
# associated with your mouse or touchscreen)
org.thenesis.microbackend.ui.fb.framebufferDevice:/dev/fb0
org.thenesis.microbackend.ui.fb.keyboardDevice:/dev/tty
org.thenesis.microbackend.ui.fb.mouseDevice:/dev/input/event1
org.thenesis.microbackend.ui.fb.touchscreenDevice:/dev/input/event2

##==========================
## Sound
##==========================
# Sound configuration (possible values: SDL, virtual)
# The "player" parameter should be set to "virtual" unless you know what you do.
# The virtual engine requires this hardware configuration: 16 bits, stereo, little endian
org.thenesis.midpath.sound.engine:virtual
# Possible sound backend values: NULL, ALSA, ESD, PulseAudio
org.thenesis.midpath.sound.backend:NULL
org.thenesis.midpath.sound.device:default
org.thenesis.midpath.sound.sampleRate:44100
# Buffer size MUST be a power of two
org.thenesis.midpath.sound.bufferSize:8192

##======================================
## IO parameters
##======================================
# IO (file, socket) backends (possible values: J2SE, CLDC)
com.sun.midp.io.backend:J2SE
# The RMS root path (if not defined, records are read/written in the current directory)
com.sun.midp.rms.rootPath:

##======================================
## Location (JSR179)
##======================================
# Location mode (possible values: GPS, KML, LMS, NMEA)
org.thenesis.midpath.location.mode:GPS
# Resource file URI (KML and NMEA mode only)
# Examples:
# -Load a KML file in the "res" package from the java classloader:
#  org.thenesis.midpath.location.resource.uri:/res/location.kml 
# -Load a NMEA file from the file system:
#  org.thenesis.midpath.location.resource.uri:file:////absolute/path/to/location.kml
org.thenesis.midpath.location.resource.uri:
# Resource poll interval in milliseconds (KML, LMS, NMEA mode only)
org.thenesis.midpath.location.resource.pollInterval:5000

##======================================
## Messaging (JSR120, JSR205)
##======================================
# SMS backend (possible values: NULL)
org.thenesis.midpath.messaging.backend:NULL

##======================================
## MIDlet Suite Manager (J2SE only)
##======================================
# The MIDlet repository path (if not defined, MIDlets are searched in the current directory)
org.thenesis.midpath.main.repositoryPath:

##======================================
## Input parameters
##======================================
javax.microedition.lcdui.pointerSupported:true
javax.microedition.lcdui.pointerMotionSupported:true
# Enable/disable the virtual keyboard when editing text
com.sun.midp.chameleon.input.virtualKeyboardAutoEnabled:false

##======================================
## Key mapping 
## (AWT codes are used by convention - see java.awt.event.KeyEvent javadocs)
##======================================
# LEFT key. Default: VK_LEFT (37)
org.thenesis.midpath.ui.keys.LEFT:37
# UP key. Default: VK_UP (38)
org.thenesis.midpath.ui.keys.UP:38
# RIGHT key. Default: VK_RIGHT (39)
org.thenesis.midpath.ui.keys.RIGHT:39
# DOWN key. Default: VK_DOWN (40)
org.thenesis.midpath.ui.keys.DOWN:40
# GAME_A key. Default: VK_F4 (115)
org.thenesis.midpath.ui.keys.GAME_A:115
# GAME_B key. Default: VK_F5 (116)
org.thenesis.midpath.ui.keys.GAME_B:116
# GAME_C key. Default: VK_F6 (117)
org.thenesis.midpath.ui.keys.GAME_C:117
# GAME_D key. Default: VK_F7 (118)
org.thenesis.midpath.ui.keys.GAME_D:118
# FIRE key. Default: VK_ENTER (10)
org.thenesis.midpath.ui.keys.FIRE:10
# STAR key (*). Default: VK_ASTERISK (151)
org.thenesis.midpath.ui.keys.STAR:151
# POUND key (#). Default: VK_NUMBER_SIGN (520)
org.thenesis.midpath.ui.keys.POUND:520
# DELETE key. Default: VK_BACK_SPACE (8)
org.thenesis.midpath.ui.keys.DELETE:8
# END key. Default: VK_END (35)
org.thenesis.midpath.ui.keys.END:35
# POWER key. Default: VK_F12 (123)
org.thenesis.midpath.ui.keys.POWER:123
# SOFT_BUTTON1 key. Default: VK_F1 (112)
org.thenesis.midpath.ui.keys.SOFT_BUTTON1:112
# SOFT_BUTTON2 key. Default: VK_F2 (113)
org.thenesis.midpath.ui.keys.SOFT_BUTTON2:113
