[Desktop Entry]
Type=Link
Name=Angstrom
Icon=icon.png
Comment=This is the Angstrom profile that is universal for most systems. Choose this if you are not sure what to choose.
