[Desktop Entry]
Name=Duke3D
Comment=first person shooter
Type=Application
Exec=duke3d
Icon=duke3d
Terminal=false
Categories=GTK;Game;
X-SingleInstance=true
StartupNotify=true

