#!/usr/bin/make -f

build:
binary-arch:

clean:

binary-indep:
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: build clean binary-indep binary binary-arch
