[Desktop Entry]
Name=ChameleonMan Demo
Comment=OGLES Demo
Exec=/usr/demos/OGLES/ChameleonMan/OGLESChameleonMan
Icon=star
Type=Application
Categories=Demos;

