[Desktop Entry]
Name=FiveSpheres Demo
Comment=OGLES Demo
Exec=/usr/demos/OGLES/FiveSpheres/OGLESFiveSpheres
Icon=star
Type=Application
Categories=Demos;

