[Desktop Entry]
Name=ShadowTechniques Demo
Comment=OGLES Demo
Exec=/usr/demos/OGLES/ShadowTechniques/OGLESShadowTechniques
Icon=star
Type=Application
Categories=Demos;

