[Desktop Entry]
Name=UserClipPlanes Demo
Comment=OGLES Demo
Exec=/usr/demos/OGLES/UserClipPlanes/OGLESUserClipPlanes
Icon=star
Type=Application
Categories=Demos;

