#
# OpenEmbedded local configuration file (sample)
#

# Use this to specify where OE should place the downloaded sources into
DL_DIR = "${HOME}/sources"

# Use this to specify what .oe files to consider for builds
OEFILES = "*/*.oe"

# Use the OEMASK below unless you want to build something else than the default glibc based setup
OEMASK = ""

# Uncomment this if you want to use a prebuilt toolchain.
# You will need to provide packages for toolchain and additional libraries yourself
# You will definitly need to say ASSUME_PROVIDED = "virtual/arm-linux-gcc-2.95" to build any of two
# Linux 2.4 Embedix kernels, i.e. openzaurus-sa-2.4.18 and openzaurus-pxa-2.4.18.
#ASSUME_PROVIDED = "virtual/${TARGET_PREFIX}gcc virtual/libc"

# Select between multiple alternative providers, if more than one is eligible.
PREFERRED_PROVIDERS = "virtual/libc:glibc virtual/qte:qte-for-opie virtual/libqpe:libqpe-opie virtual/libsdl:libsdl-qpe"

# Uncomment this to specify where OE should create its temporary files.
# Note that a full build of everything in OE will take GigaBytes of hard disk space,
# so make sure to free enough space. The default TMPDIR is <build directory>/tmp
#TMPDIR = /usr/local/projects/oetmp

# Uncomment this to specify a machine to build for. See <oe>/conf/*.conf for machines
# currently known to OpenEmbedded.
#MACHINE = "collie"

# Use this to specify the target architecture. Note that this is only needed when building
# for a machine not known to OpenEmbedded. Better use the MACHINE attribute (see above)
TARGET_ARCH = "arm"

# Use this to specify the target operating system.  This is "linux" for a normal
# linux system with glibc.  Set this to "linux-uclibc" if you want to build a
# uclibc based system.
#TARGET_OS = "linux"
#TARGET_OS = "linux-uclibc"

# Uncomment this to select a distribution policy.
#DISTRO = "familiar"

# Uncomment this to build .tar packages during the build process.
# Also supported is "package_ipk"
# Usually better to set DISTRO instead (see above)
#INHERIT = "package_tar"

# Comment this out if you do not wish to use a parse cache (not recommended).
CACHE=/var/tmp/oe-cache.${USER}

# Uncomment this if you want OE to emit debugging output
#OEDEBUG = "yes"

# Uncomment this if you want OE to emit the log if a build fails.
#OEINCLUDELOGS = "yes"

# Specifies a location to search for pre-generated tarballs when fetching
# a cvs:// URI.  Comment this out if you always want to pull directly 
# from the CVS tree.
CVS_TARBALL_STASH = "http://www.treke.net/oe/source/"
