#
# OpenEmbedded local configuration file (sample)
#

# Use this to specify where OE should place the downloaded sources into
DL_DIR = "${HOME}/sources"

# Use this to specify what .oe files to consider for builds
OEFILES = "*/*.oe"

# Note that only recent oemake's obey OEMASK directly, in earlier versions,
# you had to filter by hand and populate OEFILES accordingly
# Use the OEMASK below unless you want to build something else than the default glibc based setup
OEMASK = "(grub|toolchain-external)"

# Uncomment this OEMASK, if you want to use a prebuild toolchain.
# You will need to provide packages for toolchain specific libraries yourself
#OEMASK = "-initial|/(binutils|uclibc|avr-libc|gcc|linux|grub|qte_|qte-for-qtopia|glibc_cvs)"

# Select between multiple alternative providers, if more than one is eligible
PREFERRED_PROVIDERS = "virtual/libc:glibc virtual/qte:qte-for-opie virtual/libqpe:libqpe-opie"

# Uncomment this to specify where OE should create its temporary files.
# Note that a fully build of everything in OE will take GigaBytes of hard disk space,
# so make sure to free enough space. The default TMPDIR is <package directory>/tmp
#TMPDIR = /usr/local/projects/oetmp

# Uncomment this to specify a machine to build for. See <oe>/conf/*.conf for machines
# currently known to OpenEmbedded.
#MACHINE = "collie"

# Use this to specify the target architecture. Note that this is only needed when building
# for a machine not known to OpenEmbedded. Better use the MACHINE attribute (see above)
TARGET_ARCH = "arm"

# Uncomment this to build .tar packages during the build process.
# Also supported is "package_ipk"
#INHERIT = "package_tar"
