[Desktop Entry]
Version=0.5
Type=Application
Encoding=UTF-8
Name=pythm
Comment=pyGTK+ Frontend for MPD and mplayer
TryExec=pythm-bin
Exec=pythm-bin
Icon=bass.png
Categories=Application;AudioVideo;Audio;Player;
Categories=Office;
Terminal=false
