[Desktop Entry]
Name=NavitD
Comment=GPS Navigation Display blanking disabled
Exec=unset LC_ALL && fsoraw -r CPU,GPS,Display -- navit
Icon=navitD
Terminal=false
Type=Application
Categories=GTK;
MimeType=text/x-vcard;
StartupNotify=true
