[Desktop Entry]
Name=Navit
Comment=GPS Navigation
Exec=unset LC_ALL && fsoraw -fr CPU,GPS -- navit
Icon=navit
Terminal=false
Type=Application
Categories=GTK;
MimeType=text/x-vcard;
StartupNotify=true
SingleInstance=true
