[Desktop Entry]
Name=Tickypip
Name[de]=Tickypip
Icon=tickypip/tickypip
Exec=tickypip
Comment=Connect the computers together to form an active network.
Comment[de]=Verbinde die Computer zu einem Netzwerk.
Type=Application
Type[de]=Anwendung
CanFastLoad=0
