[Desktop Entry]
Name=Navit
Comment=GPS Navigation
Exec=navit
Icon=navit
Terminal=false
Type=Application
Categories=GTK;
MimeType=text/x-vcard;
StartupNotify=true
