[Desktop Entry]
Name=Mumpot cyclemap
Comment=Mumpot cyclemap
Exec=mumpot-cyclemap
Terminal=0
Type=Application
Categories=X-PIM;GTK;Education;Science;Geography;
StartupNotify=True
