[Desktop Entry]
Name=GPSDrive
Comment=GPS map software
Exec=gpsdrive -p -1
Terminal=false
Type=Application
Icon=gpsicon
Categories=Graphics;Network;Geography;
StartupNotify=false
