--- linux-2.6.17-vanilla/drivers/input/keyboard/Kconfig	2006-06-18 01:49:35.000000000 +0000
+++ linux-2.6.17/drivers/input/keyboard/Kconfig	2006-07-10 17:06:11.000000000 +0000
@@ -183,4 +183,10 @@
 	  This driver implements support for HIL-keyboards attached
 	  to your machine, so normally you should say Y here.
 
+config KEYBOARD_JORNADA720
+        tristate "HP Jornada 720 Keyboard Support"
+	depends on SA1100_JORNADA720
+	default y
+	help
+	    Say yes here if you want Jornada 720 keyboard support.
 endif
