[Desktop Entry]
Name=Texture streaming Demo
Comment=TI Webcam texture streaming demo
Exec=gles2_bc_webcam-x11
Icon=star
Type=Application
Categories=Graphics;3DGraphics;

