Source: openembedded-essential
Section: devel
Priority: optional
Maintainer: Marcin Juszkiewicz <hrw@openembedded.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: openembedded-essential
Architecture: all
Depends: python (>= 2.3), ccache, build-essential, quilt, bison, wget, cvs, subversion, git-core, monotone, coreutils, unzip, texi2html, texinfo, libsdl1.2-dev, docbook-utils, gawk
Description: Metapackage to install all needed packages to start using OpenEmbedded
 OpenEmbedded is a full-featured development environment allowing users to
 target a wide variety of devices. Supporting multiple build, release paths and
 configurations, OpenEmbedded extends the capabilities of your build and
 release engineers. OpenEmbedded uses compilation and configuration caching at
 most levels to increase developer productivity.
 This metapackage depends on all software required by OpenEmbedded.
