[Desktop Entry]
Type=Application
Name=Reboot
Comment=Reboot the BUG.
Exec=/sbin/reboot
Icon=system-restart
Terminal=false
Categories=Utility;
StartupNotify=false
