[Desktop Entry]
Type=Application
Name=Suspend
Comment=Suspend the BUG.
Exec=/usr/bin/apm -s
Icon=system-suspend
Terminal=false
Categories=Utility;
StartupNotify=false
