[Desktop Entry]
Type=Application
Name=Shutdown
Comment=Shutdown the BUG.
Exec=/sbin/shutdown 0 -h
Icon=system-shutdown
Terminal=false
Categories=Utility;
StartupNotify=false
