[Desktop Entry]
Type=Application
Name=Xeyes
Comment=The ultimate desktop application.
Exec=/usr/bin/xeyes
Icon=gtk-media-stop
Terminal=false
Categories=Utility;
StartupNotify=false
