# Sample local configuration
#
# You do not need a 'local.conf' file, however you may use one to alter
# how the build proceeds and to specify bitbake options.
#
#----------------------------------------------------------------------------------
# bitbake options
#----------------------------------------------------------------------------------
#
#BBINCLUDELOGS = "yes"
#	bitbake logs build progress to per-package log files.  By default if an
#	error occurs bitbake outputs the name of this file with an error message.
#	If you set BBINCLUDELOGS to 'yes' then bitbake will also output the log
#	file itself.
#
#BBMASK = "regular expression"
#	bitbake examines all the .bb files listed in the BBFILES variable.  BBMASK
#	can be used to exclude some (or, indeed, all) of these files by matching
#	against a regular expression.  Typically you do not want to do this because
#	bitbake freeze can be used to generate a minimal list for BBFILES.
#
#----------------------------------------------------------------------------------
# OpenSlug (and derivatives) options
#----------------------------------------------------------------------------------
#FEED_URIS = "<name>##<url>"
#	Define local feeds - <name> should be replaced by a name which identifies
#	your local feed (not a generic name!) and <url> should be the location of
#	the Packages.gz file (and, therefore, all the ipks).  This is not required;
#	the feed defaults to the internet one.
#
#<DISTRO>_EXTRA_DEPENDS = "packages to add to the build"
#	Any packages in this list will be built as depenencies of the firmware
#	image, but they will not be included in the image (see below).
#
#<DISTRO>_EXTRA_RDEPENDS = "packages to add to the firmware image"
#	Any packages in this list will be added to the firmware image.  Please do
#	not distribute such images - make a new DISTRO.conf file following the
#	instructions in conf/distro/ucslugc.conf
#
#<DISTRO>_EXTRA_BBFILES = "paths of extra .bb files"
#	Files in this list will be parsed by bitbake to find packages in addition
#	to the default list of bb files in conf/distro/<distro>-packages.conf.  The
#	setting of this variable is irrelevant after bb freeze has been built or if
#	bb unfreeze is built (in the latter case bitbake will examine all of the
#	openembedded packages).
